
    .thread {
        width:'80%';
        padding: '3.5%';
        marginBottom: '5%';
        marginTop: '5%';
        marginLeft: '9%';
        backgroundColor: 'rgba(40, 199, 9, 0.5)';
        alignContent: 'center';
        margin: 'auto';
    }

    .title{
        margin: 'auto';
        padding: '1em';
        marginBottom: '10px';
    }

    .view{
        backgroundColor: 'rgba(14, 80, 9, .85)';
    }